*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
  

.container {
    max-width: 960px;
  }
  
  .overflow-hidden { overflow: hidden; }
  
  .theme-color{
      color:#ea7b6a;
  }
  
  .back-banner{
    background-image: url('Images/Comapny_Profile.png');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
  
  .back-bg-color{
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;

  }
  
  
  .nav-link-btn-company-bottom-nav{
    color: #000;
    transform: color;
    transition-duration: 500ms;
  }
  .nav-link-btn-company-bottom-nav:hover{
    color: #ea7b6a;
    transform: color;
    transition-duration: 500ms;
  }
  
  /********* each heading **********/
  .background-hr{
    display:block;
    position: absolute;
    content:"";
    width: 100%;
    border-style: solid;
    border-color: gray;
    transform: translate(0px, 5px);
  }

.Header{
    text-align: center;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .card{
    cursor: pointer;
    width: 340px;
    height: 480px;
  }
  .front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
  }
  .front img{
    height: 100%;
  }
  .front{
    transform: perspective(600px) rotateY(0deg);
  }
  .back{
    background: #e1bee7;
    transform: perspective(600px) rotateY(180deg);
  }

  .back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-size: 20px;
  }
  .sm{
    margin: 20px 0;
  }
  .sm a{
    display: inline-flex;
    width: 110px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 30%
  }
  .sm a:hover{
    background: #2c3e50;
    color: white;
  }
  .card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }

  .event-business-background{
    background-image: url('Images/event.jpg');
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.event-technical-background{
    background-image: url('Images/technical.jpg');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.event-card h3{
    color: #fff;
    transform: color;
    transition-duration: 500ms;
}
.event-card:hover .heading{
    color: #ea7b6a;
    transform: color;
    transition-duration: 500ms;
}

.back-bg-color{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
  }
  


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1200px){
    .inner-container1{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .About-Us{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .inner-container1{
        width: 100%;
    }
}

.collapse .navbar-nav .nav-item .nav-link {
  color:white;
}
.collapse .navbar-nav .nav-item.active .nav-link,
.collapse .navbar-nav .nav-item:hover .nav-link {
  color: #ea7e6e;
}

@media screen and (max-width:600px){
    .About-Us{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
    .inner-container1{
        padding: 60px;
    }

}
