*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
  

.container {
    max-width: 960px;
  }
  
  .overflow-hidden { overflow: hidden; }
  
  .theme-color{
      color:#ea7b6a;
  }
  
  .back-banner{
    background-image: url('Images/Comapny_Profile.png');
    max-width: 100%;
    height: 100%;
  }
  
  .back-bg-color{
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .nav-link-btn-company-bottom-nav{
    color: #000;
    transform: color;
    transition-duration: 500ms;
  }
  .nav-link-btn-company-bottom-nav:hover{
    color: #ea7b6a;
    transform: color;
    transition-duration: 500ms;
  }
  
  /********* each heading **********/
  .background-hr{
    display:block;
    position: absolute;
    content:"";
    width: 100%;
    border-style: solid;
    border-color: gray;
    transform: translate(0px, 5px);
  }

.Header{
    text-align: center;
}

.About-Us{
    background: url(Images/About-us.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.Vision{
    background: url(Images/Vision.jpg) no-repeat right;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.Mission{
    background: url(Images/Mission.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.Our_Work{
    background: url(Images/Our_Work.jpg) no-repeat right;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #E1F5FE;
    padding: 150px;
}

.inner-container1{
    width: 55%;
    float: left;
    background-color: #E1F5FE;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.inner-container1 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .card{
    cursor: pointer;
    width: 340px;
    height: 480px;
  }
  .front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
  }
  .front img{
    height: 100%;
  }
  .front{
    transform: perspective(600px) rotateY(0deg);
  }
  .back{
    background: #E1BEE7;
    transform: perspective(600px) rotateY(180deg);
  }
  .back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-size: 20px;
  }
  .sm{
    margin: 20px 0;
  }
  .sm a{
    display: inline-flex;
    width: 110px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 30%
  }
  .sm a:hover{
    background: #2c3e50;
    color: white;
  }
  .card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }
  


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1200px){
    .inner-container1{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .About-Us{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .inner-container1{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .About-Us{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
    .inner-container1{
        padding: 60px;
    }

}
